@{
    View.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>The LA .NET Peer Learning Group is an organization meant to help developers upgrade their skills, learn new technologies, and take on new challenges.</p>
<p>They usually meet twice a month for hands-on labs and ongoing projects. If you'd like to participate, simply register and start signing up for events!</p>
